<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Places</h1>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              menus_path, :class => 'btn btn-default'  %>
<br>
<br>

<% @places.each do |place| %>
  <%= place %>
  <br>
<% end %>

<br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              menus_path, :class => 'btn btn-default'  %>
<br>
<br>
